.form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* border: 1px solid bisque; */
}

.discrib {
  font-size: 20px;
}

.input {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
}

.button {
  /* border-radius: 10px; */
  /* font-size: 15px; */
  padding: 6px;
  border-radius: 10px;
  /* text-transform: uppercase; */
}

.button:hover {
  background-color: rgba(25, 200, 30, 1);
}
