.interface {
  margin-top: 5px;
  padding: 10px;
  border: 3px solid gold;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputTel {
  display: block;
}

.buttonAdd {
  border-radius: 10px;
  padding: 5px;
  /* height: 40px; */
  width: 100px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 10px;
  height: 20px;
  border-radius: 5px;
}

label {
  display: block;
}

p {
  margin: 0;
}

.svg {
  width: 20px;
  height: 20px;
}

.input {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
}

.discrib {
  font-size: 20px;
}

.AddContact {
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
}

.AddContact:hover {
  background-color: rgba(25, 200, 30, 1);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: darkcyan;
  border: none;
  cursor: pointer;
}
